<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I am always looking to learn new things.</h2>
                <hr class="light">
                <p class="text-faded"> My penchant for both computer science and business fundamentals has allowed me to build a strong technical foundation while also gaining experience in the different realms of business. I am fluent in Java and have been coding in it for 5 years, and have more recently become familiar with Python, Golang, SQL, and Javascript. Most of my experience lies in backend development, both in Golang and Python, however I spent my Spring 2020 semester learning about the frontend and developing skills in JavaScript/HTML. 
                    I have a strong knowledge base of Data Structures, Object Oriented Design Principles, Algorithms, and Modularization. Through experiences inside the classroom and out, I have taken on roles as Scrum Master, Product Manager, Business Analyst, and Economic/Operations Analyst, which has allowed me to view my work at the higher level and prepare me for more business oriented roles. In the future, I hope to grow and strengthen my technical acumen, and eventually transition to a more business-oriented management role. 
                    <!-- What gravitated me towards computer science was how open ended this field is. I learn something new with each thing I do and get to meet and communicate with so many people. I also love that it allows me to explore my interests in finance, which was also strengthened by my minor in business. It is fascinating to apply the endless amounts of computer science principles to concrete business concepts.   --></p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">See some of my work.</a> 
                <!-- class="btn btn-default btn-xl" -->
            </div>
        </div>
    </div>
</section>
