<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Always wondering about the future in tech.</h2>
                <hr class="light">
                <p class="text-faded">talk about My coursework, internship experience, and personal projects. </p>
                <a href="#" class="btn btn-default btn-xl page-scroll">See some of my work.</a>
                <!-- class="btn btn-default btn-xl" -->
            </div>
        </div>
    </div>
</section>
