<header>
    <div class="header-content">
        <div class="header-content-inner">
            <style>
                img{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            </style>
            <img src="img/prof.png" alt = "my headshot" style="width:20%;"> <!--line 74 on bootstrap.css-->
            <h1>Welcome!</h1>
            <hr>
            <p>Hi, I'm Divya. I'm a senior at Cornell Univerity studying Computer Science, with a minor in Business.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">More about me!</a>
        </div>
    </div>
</header>
